<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger mt-3" data-turbo-cache="false" role="alert">
    <span><strong>Issues:</strong> There <%= resource.errors.count %> are issues with your form submission. Please fix the errors:</span>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
